.btn {
	font-size: 1.35rem;
	padding: 7px 15px;
	border-color: var(--black);
	color: var(--black);
	background-color: rgba(0, 0, 0, 0);
	border: 4px solid var(--gray-text);
	border-radius: 5px;
	border-color: var(#1E1E1E);
	transition: all 0.2s ease-in-out;
	margin-top: 10px;

	&:hover {
		background-color: rgba(255, 0, 0, 0.1);
	}
}