.form-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 400px;
    margin: 80px auto 0 auto;
    padding: 20px;
    background-color: var(--Color-1, #C1DCDC);
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-title {
    text-align: center;
    font-family: Inter;
    margin-bottom: 20px;
    font-size: 25px;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
  }
  
  .input-label {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #333;
  }
  
  .input-field {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
  }
  
  .input-field:focus {
    border-color: #4a90e2;
    outline: none;
  }
  
  .error-message {
    margin-top: 5px;
    font-size: 12px;
    color: #ff0000;
  }
  
  .submit-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }

  .form-custom{
    display: flex;
    flex-direction: column;
    gap: 20px
  }
  